<mat-nav-list>

    <h2 matSubheader>Assignments</h2>

    <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/multivariate-data-visual">Multivariate Data Visual</a>

    <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/us-airport-traffic">US Airport Traffic</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Information</h2>

    <a mat-list-item [routerLinkActive]="['is-active']" routerLink="/aboutus">
        <mat-icon>import_contacts</mat-icon>
        About Us
    </a>

</mat-nav-list>