<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="6px" class="about-card-container">
    
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Biswajit Debnath</mat-card-title>
        <mat-card-subtitle>M.Sc Student, CMS, TU Dresden</mat-card-subtitle>
      </mat-card-header>
      
      <img fxLayout="row" fxLayoutAlign="center" mat-card-image src="assets/biswajit-avatar.jpg" class="rounded-profile-image" alt="Photo of Biswajit Debnath">

      <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
          <a mat-raised-button href="https://github.com/coderbdsust?tab=repositories" target="_blank">Github</a>
          <a mat-raised-button href="https://www.linkedin.com/in/coderbd/" target="_blank">LinkedIn</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Hassan Abdullah</mat-card-title>
        <mat-card-subtitle>M.Sc Student, CMS, TU Dresden</mat-card-subtitle>
      </mat-card-header>

      <img fxLayout="row" fxLayoutAlign="center" mat-card-image src="assets/Hassan-avatar.jpg" class="rounded-profile-image" alt="Photo of Hassan Abdullah">

      <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
          <a mat-raised-button href="https://github.com/hassanabdullah-art" target="_blank">Github</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Paul S.</mat-card-title>
        <mat-card-subtitle>Diploma Student, CS, TU Dresden</mat-card-subtitle>
      </mat-card-header>

      <img fxLayout="row" fxLayoutAlign="center" mat-card-image src="assets/paul_avatar.jpg" class="rounded-profile-image" alt="Avatar of Paul">

      <mat-card-actions fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
          <a mat-raised-button href="https://github.com/p4sCh?tab=repositories" target="_blank">Github</a>
      </mat-card-actions>
    </mat-card>

</div>